@model List<Inventario.Models.Alumno>
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Alumnos</h2>


    @foreach (var alumno in Model)
    {
        <h1>
            @alumno.Nombre
        </h1>
    }

<a href="/">Ir al Inicio</a>
<a href="/productos">Ir Productos</a>



