<h1>Home pagina de inicio de todo</h1>


<a href="/">Ir al Inicio</a>
<br />
<a href="/Productos">Ir Productos</a>
<br />
<a href="/Alumno">Ir Alumnos</a>
<br />
<a href="https://google.com" target="_blank">Ir Google</a>

<br />
<br />
@Html.ActionLink("Ir Alumnos", "index", "alumno")
